/*
	base styles for buttons (without special styles as for "change monthes" or "in modal window")
*/
.button{
	cursor:pointer;
	padding:5px 20px 5px 20px;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	margin:5px;
}
.button-active{
	color:white;
	background-color:#0066ff;
	border-color:white;
}
.button-notActive{
	color:#f2f2f2;
	background-color:#ffffff;
	border-color:#f2f2f2;
}