/*calendar main part*/
#illustratingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap:wrap;
	width:100vw;
}
.dayDiv{
	position:relative;
	display:flex;
	height:80px;
	width:80px;
	padding:20px;
	border-color:#f2f2f2;
	border-style:solid;
	border-width:2px;
	border-radius:20px;
	margin:5px;
	cursor:pointer;
}
.dayDiv:hover { 
  border-color:#00ccff;
}
/*control panel for it*/
#changingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	flex-wrap:wrap;
	width:100vw;
}