/*calendar main part*/
#illustratingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap:wrap;
	width:100vw;
}
.dayDiv{
	position:relative;
	height:80px;
	width:80px;
	padding:20px;
	border-color:#f2f2f2;
	border-style:solid;
	border-width:2px;
	border-radius:20px;
	margin:5px;
	cursor:pointer;
}
.dayDiv:hover { 
  border-color:#00ccff;
}
.dayNumberDiv{
	font-family:RobotoLight;
	font-size:15px;
	color:black;
	border-color:#f2f2f2;
	text-align:center;
	padding:3px;
	border-radius:50%;
	border-style:solid;
	border-width:1px;
	width:20px;
	height:20px;
}
/*control panel for it*/
#changingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	flex-wrap:wrap;
	padding:20px;
}