/*
	all css which in the main window (not modal window)
*/

/*"calendar main part" starts*/
#illustratingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap:wrap;
	width:(100vw - 10px);
	transition:opacity 0.2s ease-out 0s; /* if you will change, than you should change in function "showMonth" setTimeOut and in style of div id"dateUnderCalendarMonth" transition -> opacity*/
}
.dayDiv{
	position:relative;
	height:80px;
	width:80px;
	padding:20px;
	border-color:#f2f2f2;
	border-style:solid;
	border-width:2px;
	border-radius:20px;
	margin:5px;
	cursor:pointer;
	overflow-x:hidden;
	overflow-y:hidden;
}
.dayDiv:hover { 
  border-color:#00ccff;
}
.dayNumberDiv{
	font-family:RobotoLight;
	font-size:15px;
	color:black;
	border-color:#f2f2f2;
	text-align:center;
	padding:3px;
	border-radius:50%;
	border-style:solid;
	border-width:1px;
	width:20px;
	height:20px;
}
.dayText{
	font-family:RobotoLight;
	font-size:15px;
	color:black;
	word-wrap: break-word;
}
/*"calendar main part" ends*/

/*control panel for monthes as buttons starts*/
#changingMonthDiv{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	flex-wrap:wrap;
	padding:20px;
}
#dateUnderCalendarMonth{
	text-align:center;
	transition:opacity 0.2s ease-out 0s;/* if you will change, than you should change in function "showMonth" setTimeOut and in style of div id"illustratingMonthDiv" transition -> opacity*/
	margin:20px;
}

/*some changes for mobile*/
@media only screen and (max-width: 600px) {
	.monthChangeButton{
		width:80vw;
	}
}
/*control panel for monthes as buttons ends*/